.trending {
  border-bottom: 1px solid lightgray;
}

.trending__title {
  display: flex;
  align-items: center;
}

.trending__title > h4 {
  margin-left: 10px;
}
.trending__details {
  display: flex;
  flex-wrap: wrap;
}
